################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/BlogDataBase/BlogDataBase.jfm
/BlogDataBase/BlogDataBase.dbmdl
