<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="cs"
			 connectionString="	Data Source=LAPTOP-5NJ5DT76\SQLEXPRESS;Initial Catalog=lab2-db;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			 providerName="System.Data.SqlClient"
			 ></add>
	</connectionStrings>

	<appSettings>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"></add>
		<add key="ClientValidationEnabled" value="true"></add>
	</appSettings>
</configuration>